:root {
    --bg-color: #ffffff;
    --main-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --main-color:#2a2a2a;
    --text-color: #ffffff;
}
[data-theme="light"] {
    --bg-color: #a6a6a6;
    --main-color:#cfcfcf;
    --queue-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--bg-color);
}

#main {
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 10px;
}

.current_song_parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.current_song_cover {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.current_song_info {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}


#queue {
    border-radius: 20px;
    background-color: var(--queue-color);
    padding: 25px;

    max-height: 20%;
    overflow: hidden;
    overflow-y:scroll;
}



.button {
    background-color: #c39bd3;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

option {
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

li {
    color: var(--text-color);
}