:root {
    --bg-color: #ffffff;
    --main-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --main-color:#565656;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
}

#main {
 border-style: solid;
 border-radius: 10px;
 background-color: var(--main-color);
 padding: 10px;
}

#cover {
    border-style: solid;
    border-radius: 10px;
    background-color: black;
}

h1 {
    color: var(--text-color);
}



