:root {
    --bg-color: #ffffff;
    --main-color: #ffffff;
    --text-color: #000000;
    /* Grautöne */
    --grey-50: #f9fafb;
    --grey-100: #f4f5f7;
    --grey-200: #e5e7eb;
    --grey-300: #d2d6dc;
    --grey-400: #9fa6b2;
    --grey-500: #6b7280;
    --grey-600: #4b5563;
    --grey-700: #374151;
    --grey-800: #252f3f;
    --grey-900: #161e2e;

    /* Weiß */
    --white: #ffffff;

    /* Lilatöne */
    --purple-50: #faf5ff;
    --purple-100: #f3e8ff;
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;
    --purple-400: #c084fc;
    --purple-500: #a855f7;
    --purple-600: #9333ea;
    --purple-700: #7e22ce;
    --purple-800: #6b21a8;
    --purple-900: #581c87;
    /* Schwarz */
    --black: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --main-color:#2a2a2a;
    --text-color: #ffffff;
}
[data-theme="light"] {
    --bg-color: #a6a6a6;
    --main-color:#cfcfcf;
    --queue-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--bg-color);
}
/*

#header {
    position: relative;
    top: 50%;

    border-radius: 20px;
    background-color: var(--main-color);
    padding: 10px;

    margin: 4px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    */

#main {
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 10px;

    margin: 4px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current_song_parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.current_song_cover {
    height: 150px;
    width: 150px; 
    border-radius: 20px;
    display: inline-block;
    background-color: #000000;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.current_song_info {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#queue {
    border-radius: 20px;
    background-color: var(--queue-color);
    padding: 25px;

    max-height: 20%;
    overflow: hidden;
    overflow-y:scroll;
}

.button {
    background-color: #c39bd3;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.inputfield {
    height: 32px;
}

option {
    background-color: #2a2a2a;
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

li {
    color: var(--text-color);
}


.button {
    background-color: #c39bd3;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
