<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Seite nicht gefunden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/curtain.css') }}">
</head>
<body>
    <div class="curtain">
        <div class="curtain__wrapper">
          <input type="checkbox" checked>
          
          <div class="curtain__panel curtain__panel--left">
            <h1>Click to reveal&nbsp;</h1>
          </div> <!-- curtain__panel -->
          
          <div class="curtain__content">
            <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif">
            <h2>Achievement Unlocked!</h2>
          </div>
          
          <div class="curtain__panel curtain__panel--right">
            <h1>a special reward...</h1>
          </div> <!-- curtain__panel -->
          
        </div> <!-- curtain__wrapper -->
      </div> <!-- curtain -->
</body>
</html>
