<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 Upload and YouTube Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Musicplayer</a>
        <a href="https://www.fachschaft.informatik.uni-kl.de/">FSINFO</a>
      </div>


    <div id="root">
    <div id="main">
        <button class="openbtn" onclick="toggleNav()">&#9776;</button>
        <i class="bi bi-brightness-high-fill" id="toggleDark"></i>
    </div>
    <div id="main">
        <div>
            <h1>Upload MP3 or Download from YouTube</h1>
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload">
                <button type="button" class="button" id="fileButton"><i class="fa fa-upload"></i></button>
                <input class="hidden" type="file" id="fileInput" name="file">
                <button type="submit" class="button">Upload MP3</button>
            </form>
            <form method="post" action="/download">
                <input class="inputfield" type="text" name="url" placeholder="YouTube URL">
                <input class="button" type="submit" value="Download from YouTube">
            </form>
        </div>
        <div class="current_song_parent">
            <div class="current_song_cover">
                <img id="cover" class="rounded-corners" src="{{ current_song.cover }}" alt="Cover" width="200">
            </div>
            <div class="current_song_info">
                <h2 id="current_song">Current song: {{ current_song.title }}</h2>
            </div>
        </div>
        
        <ul id="queue">
            {% for song in playback_queue %}
            <li>{{ song }}</li>
            {% endfor %}
        </ul>
        <h2>Select a song from the uploads</h2>
        <form method="post" action="/enqueue">
            <select name="file">
                {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add to Queue">
        </form>
        
        <div>
            <button class="button glow-on-hover" type="button" onclick="sendCommand('start')">Start</button>
            <button class="button glow-on-hover" type="button" onclick="sendCommand('stop')">Stop</button>
            <button class="button glow-on-hover" type="button" onclick="sendCommand('skip')">Skip</button>
        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>
