<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}">
</head>
<body>
    <div class="header-bar">
        Header
        <button class="toggle-button" onclick="toggleDarkMode()"><i class="gg-sun"></i></button>
    </div>
    <div class="container">
        <h1>Willkommen auf der Startseite</h1>
        <a href="{{ url_for('musicplayer.index') }}" class="button">Musicplayer</a>
        
    </div>

    <script src="{{ url_for('static', filename='js/dark-mode.js') }}" defer></script>
</body>
</html>
